 <div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      Lỗi: {{error}}
    </div>
    <div class="col-sm">
        <form   class="inputFileForm"
            action="/demo"
            enctype="multipart/form-data"
            method="POST" >
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">KEY</label>
            <div class="col-sm-10">
             <input type="text" name="apiKey" class="form-control" id="inputPassword" placeholder="apiKey">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPasswor" class="col-sm-2 col-form-label">FILE</label>
            <div class="col-sm-10">
             <input
                class="btn_2 banner_btn_2"
                type="file"
                id="myFile"
                name="myFile"
                accept="audio/wav"
                required
              />
            </div>
        </div>
         <button type="submit" class="btn btn-primary mb-2">TEST</button>
        </form>
    </div>
    <div class="col-sm">
       kết quả:  HƠI LÂU ĐỢI XÍU NHA:  {{result}}
    </div>
  </div>
</div>
 